<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs and Mongodb</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rerum ab voluptates quas voluptatem iste fugit ipsum pariatur laborum exercitationem molestias hic aliquam minus, deserunt libero est aspernatur culpa tempora.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur harum dolorum nam facere laboriosam iste!</p>
        <a href="https://www.faztweb.com" class="btn btn-primary"></a>
</div>
